Copyright (C) 2022 Project Group 127

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

In [1]:
"""
Imports:
"""
import pandas
import sklearn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
"""
Load the data:
"""
training_data = pandas.read_csv("../data/dota2TrainingNamed.csv", sep=",")
test_data = pandas.read_csv("../data/dota2TestNamed.csv", sep=",")

In [3]:
"""
Check data contents training set:
"""
training_data.head()

,winning_team,cluster_id,game_mode,game_type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,...,legion_commander,techies,ember_spirit,earth_spirit,abyssal_underlord,terrorblade,phoenix,oracle,winter_wyvern,arc_warden
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
"""
Seperate training and test data into a class variable and feature variable:
"""
training_features_x = training_data.iloc[:,4:]
training_class_y = training_data["winning_team"]
test_features_x = test_data.iloc[:,4:]
test_class_y = test_data["winning_team"]

In [5]:
"""
Create a linear classification model:
"""
classification_linear = SVC(kernel='linear')
classification_linear.fit(training_features_x, training_class_y)

SVC(kernel='linear')

In [6]:
"""
Check the performance for the models:
"""
classification_linear_test = classification_linear.predict(test_features_x)
classification_linear_accuracy = accuracy_score(test_class_y, classification_linear_test)
print(classification_linear_accuracy)

NameError: name 'linear' is not defined