In [32]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Load some data. dotaAll is the combined csv of both the Test and Train datasets.

In [33]:
dataAll = pd.read_csv('data/dotaAll.csv', header=None)

Show the first 10 items of the dataset:

In [34]:
dataAll.head()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

Create the 'x' and 'y' dataset:

In [35]:
x = dataAll.iloc[:,4:117]
y = dataAll.iloc[:,0]

In [36]:
x.head()

,4,5,6,7,8,9,10,11,12,13,...,107,108,109,110,111,112,113,114,115,116
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,-1,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,-1,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
y.head()

0   -1
1    1
2    1
3    1
4   -1
Name: 0, dtype: int64

In [38]:
y.value_counts()

 1    54284
-1    48660
Name: 0, dtype: int64

Split the data in a test and train dataset:

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5)

Replicate the worksheet with _this_ dataset. Note: this will take some time...

In [40]:
from sklearn.svm import SVC

linear = SVC(kernel='linear')
linear.fit(x_train, y_train)

SVC(kernel='linear')

In [41]:
from sklearn.metrics import accuracy_score

y_predicted = linear.predict(x_test)
accuracy_score(y_test, y_predicted)

0.5959550823748835