Copyright (C) 2022 Project Group 127

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

In [1]:
"""
Imports:
"""
import pandas
import sklearn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [11]:
"""
Load the data:
"""
api_data = pandas.read_csv("../../data/API/old/jan_2021_to_feb_2022_linear_output.csv", sep=",")

In [12]:
"""
Check data contents training set:
"""
api_data.head()

,match_id,match_result,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,...,120_pangolier,119_dark_willow,121_grimstroke,129_mars,126_void_spirit,128_snapfire,123_hoodwink,135_dawnbreaker,136_marci,137_primal_beast
0,5792362494,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5794821137,-1,0,0,0,-1,1,0,0,0,...,0,0,0,-1,0,0,0,0,0,0
2,5790226407,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,5790375758,1,0,0,0,0,0,0,0,0,...,0,1,0,0,-1,0,0,0,0,0
4,5790649968,-1,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,0

In [13]:
"""
Seperate training and test data into a class variable and feature variable,
also check the feature information:
"""
x = api_data.iloc[:,2:125]
y = api_data["match_result"]
x.head()

,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,9_mirana,11_nevermore,...,120_pangolier,119_dark_willow,121_grimstroke,129_mars,126_void_spirit,128_snapfire,123_hoodwink,135_dawnbreaker,136_marci,137_primal_beast
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,-1,1,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,-1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,0

In [14]:
"""
Also check the class information:
"""
print(y)

0        1
1       -1
2        1
3        1
4       -1
        ..
12381    1
12382   -1
12383   -1
12384   -1
12385    1
Name: match_result, Length: 12386, dtype: int64

In [15]:
"""
Split the data into test, validation and training data:
"""
x_train_temp, x_test, y_train_temp, y_test = train_test_split(x, y, test_size=2000)
x_train, x_val, y_train, y_val = train_test_split(x_train_temp, y_train_temp, test_size=2000)
x_train.info()
x_test.info()
x_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8386 entries, 2740 to 5720
Columns: 123 entries, 1_antimage to 137_primal_beast
dtypes: int64(123)
memory usage: 7.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 11337 to 3453
Columns: 123 entries, 1_antimage to 137_primal_beast
dtypes: int64(123)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 5541 to 4014
Columns: 123 entries, 1_antimage to 137_primal_beast
dtypes: int64(123)
memory usage: 1.9 MB

In [17]:
"""
Create a linear classification model:
"""
parameters = {"kernel": ["linear"], "C": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000]}
scores = ["precision", "recall"]

clf = GridSearchCV(SVC(), parameters, scoring="accuracy")
clf.fit(x_train, y_train)

print("Best parameters set found on training set:")
print()
print(clf.best_params_)
print()
print("Grid scores on training set:")
print()
means = clf.cv_results_["mean_test_score"]
stds = clf.cv_results_["std_test_score"]
for mean, std, params in zip(means, stds, clf.cv_results_["params"]):
    print("%0.3f (+/-%0.03f) for %r" % (mean, std * 2, params))
print()
print("Detailed classification report:")
print()
y_true, y_pred = y_val, clf.predict(x_val)
print(classification_report(y_true, y_pred))
print()

#linear = SVC(kernel="linear")
#print("LOADED LINEAR MODEL")
#linear.fit(train_x, train_y)
#print("FITTED LINEAR MODEL")

Best parameters set found on training set:

{'C': 100, 'kernel': 'linear'}

Grid scores on training set:

0.547 (+/-0.023) for {'C': 1, 'kernel': 'linear'}
0.546 (+/-0.020) for {'C': 2, 'kernel': 'linear'}
0.546 (+/-0.018) for {'C': 3, 'kernel': 'linear'}
0.546 (+/-0.019) for {'C': 4, 'kernel': 'linear'}
0.547 (+/-0.020) for {'C': 5, 'kernel': 'linear'}
0.547 (+/-0.021) for {'C': 6, 'kernel': 'linear'}
0.547 (+/-0.021) for {'C': 7, 'kernel': 'linear'}
0.547 (+/-0.021) for {'C': 8, 'kernel': 'linear'}
0.547 (+/-0.021) for {'C': 9, 'kernel': 'linear'}
0.546 (+/-0.021) for {'C': 10, 'kernel': 'linear'}
0.548 (+/-0.022) for {'C': 100, 'kernel': 'linear'}
0.548 (+/-0.020) for {'C': 1000, 'kernel': 'linear'}

Detailed classification report:

              precision    recall  f1-score   support

          -1       0.48      0.41      0.44       909
           1       0.56      0.63      0.59      1091

    accuracy                           0.53      2000
   macro avg       0.52      0.52      0.52      2000
weighted avg       0.53      0.53      0.53      2000

In [21]:
"""
Check the performance for the model:
"""
clf.best_params_
clf.cv_results_

#linear_prediction = linear.predict(test_x)
#print("TESTED LINEAR MODEL")
#linear_accuracy = accuracy_score(test_y, linear_prediction)
#print("LINEAR MODEL ACCURACY: " + str(linear_accuracy))

{'mean_fit_time': array([  3.36621304,   3.87553916,   4.17095823,   4.68387632,
          5.17831106,   5.62833691,   6.17525496,   6.58858275,
          7.02384748,   7.46717105,  47.06666579, 448.75023031]),
 'std_fit_time': array([ 0.02335221,  0.06764895,  0.07833372,  0.05143723,  0.08184089,
         0.08326887,  0.17468898,  0.06433343,  0.19355548,  0.12309754,
         1.12483355, 14.99092375]),
 'mean_score_time': array([0.41025872, 0.38185964, 0.37258377, 0.37512455, 0.37593818,
        0.37423553, 0.37599921, 0.37548413, 0.37477698, 0.37319155,
        0.37553611, 0.38304968]),
 'std_score_time': array([0.00164353, 0.01316649, 0.00441212, 0.0018215 , 0.00213897,
        0.00141379, 0.00415229, 0.0018288 , 0.00350459, 0.00419224,
        0.00100778, 0.0069102 ]),
 'param_C': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'linear'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 2, 'kernel': 'linear'},
  {'C': 3, 'kernel': 'linear'},
  {'C': 4, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 6, 'kernel': 'linear'},
  {'C': 7, 'kernel': 'linear'},
  {'C': 8, 'kernel': 'linear'},
  {'C': 9, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 100, 'kernel': 'linear'},
  {'C': 1000, 'kernel': 'linear'}],
 'split0_test_score': array([0.55303933, 0.55065554, 0.55184744, 0.55125149, 0.55244338,
        0.55363528, 0.55244338, 0.55363528, 0.55423123, 0.55244338,
        0.55423123, 0.55303933]),
 'split1_test_score': array([0.54680978, 0.54919499, 0.54859869, 0.54859869, 0.54859869,
        0.54919499, 0.54859869, 0.54859869, 0.54919499, 0.54859869,
        0.54919499, 0.54979129]),
 'split2_test_score': array([0.53726893, 0.53607633, 0.53607633, 0.53607633, 0.53607633,
        0.53548002, 0.53667263, 0.53607633, 0.53667263, 0.53548002,
        0.53607633, 0.53786524]),
 'split3_test_score': array([0.53190221, 0.53428742, 0.53488372, 0.53488372, 0.53488372,
        0.53488372, 0.53548002, 0.53488372, 0.53369112, 0.53369112,
        0.53548002, 0.53548002]),
 'split4_test_score': array([0.56410256, 0.56112105, 0.55873584, 0.55992844, 0.56112105,
        0.56171735, 0.56350626, 0.56290996, 0.56171735, 0.56171735,
        0.56350626, 0.56171735]),
 'mean_test_score': array([0.54662456, 0.54626707, 0.5460284 , 0.54614773, 0.54662463,
        0.54698227, 0.5473402 , 0.54722079, 0.54710146, 0.54638611,
        0.54769777, 0.54757865]),
 'std_test_score': array([0.01140999, 0.00995827, 0.00922165, 0.00948973, 0.00997012,
        0.0104399 , 0.01042524, 0.01063576, 0.01055877, 0.01055214,
        0.0107626 , 0.00975033]),
 'rank_test_score': array([ 8, 10, 12, 11,  7,  6,  3,  4,  5,  9,  1,  2], dtype=int32)}

In [7]:
"""
Create kNN classification model:
"""
knn = KNeighborsClassifier(10)
print("LOADED KNN MODEL")
knn.fit(train_x, train_y)
print("FITTED KNN MODEL")

LOADED KNN MODEL
FITTED KNN MODEL

In [8]:
"""
Check the performance for the model:
"""
knn_prediction = knn.predict(test_x)
print("TESTED KNN MODEL")
knn_accuracy = accuracy_score(test_y, knn_prediction)
print("KNN MODEL ACCURACY: " + str(knn_accuracy))

TESTED KNN MODEL
KNN MODEL ACCURACY: 0.5341946765105887

In [9]:
"""
Create a decision tree classification model:
"""
tree = DecisionTreeClassifier()
print("LOADED TREE MODEL")
tree.fit(train_x, train_y)
print("FITTED TREE MODEL")

LOADED TREE MODEL
FITTED TREE MODEL

In [10]:
"""
Check the performance for the model:
"""
tree_prediction = tree.predict(test_x)
print("TESTED TREE MODEL")
tree_accuracy = accuracy_score(test_y, tree_prediction)
print("TREE MODEL ACCURACY: " + str(tree_accuracy))

TESTED TREE MODEL
TREE MODEL ACCURACY: 0.5204002331455216