Copyright (C) 2022 Project Group 127

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

In [7]:
"""
Imports:
"""
import pandas
import sklearn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [8]:
"""
Load the data:
"""
api_data = pandas.read_csv("../../data/API/api_dataset_professional_games.csv", sep=",")

In [9]:
"""
Check data contents training set:
"""
api_data.head()

,match_id,match_result,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,...,radiant_str,radiant_int,radiant_agi,radiant_melee,radiant_ranged,dire_str,dire_int,dire_agi,dire_melee,dire_ranged
0,5792362494,1,0,0,0,0,0,0,0,0,...,1,2,2,1,4,1,3,1,1,4
1,5794821137,-1,0,0,0,-1,1,0,0,0,...,2,2,1,2,3,2,2,1,3,2
2,5790226407,1,0,0,0,0,0,0,0,0,...,1,1,3,2,3,3,1,1,3,2
3,5790375758,1,0,0,0,0,0,0,0,0,...,2,3,0,2,3,2,2,1,3,2
4,5790649968,-1,0,0,0,0,0,0,0,0,...,2,3,0,2,3,4,0,1,4,1

In [10]:
"""
Seperate training and test data into a class variable and feature variable,
also check the feature information:
"""
x = api_data.iloc[:,2:]
y = api_data["match_result"]
x.head()

,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,9_mirana,11_nevermore,...,radiant_str,radiant_int,radiant_agi,radiant_melee,radiant_ranged,dire_str,dire_int,dire_agi,dire_melee,dire_ranged
0,0,0,0,0,0,0,0,0,0,0,...,1,2,2,1,4,1,3,1,1,4
1,0,0,0,-1,1,0,0,0,0,0,...,2,2,1,2,3,2,2,1,3,2
2,0,0,0,0,0,0,0,0,0,1,...,1,1,3,2,3,3,1,1,3,2
3,0,0,0,0,0,0,0,0,0,0,...,2,3,0,2,3,2,2,1,3,2
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,2,3,4,0,1,4,1

In [11]:
"""
Also check the class information:
"""
print(y)

0        1
1       -1
2        1
3        1
4       -1
        ..
12381    1
12382   -1
12383   -1
12384   -1
12385    1
Name: match_result, Length: 12386, dtype: int64

In [12]:
"""
Split the data into test, validation and training data:
"""
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=2500)
x_train.info()
x_test.info()
# x_train, x_val, y_train, y_val = train_test_split(x_train_temp, y_train_temp, test_size=2000)
# x_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9886 entries, 11215 to 4322
Columns: 133 entries, 1_antimage to dire_ranged
dtypes: int64(133)
memory usage: 10.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 10858 to 11606
Columns: 133 entries, 1_antimage to dire_ranged
dtypes: int64(133)
memory usage: 2.6 MB

In [ ]:
"""
Create a linear classification model and run grid search cross validation:
"""
parameters = {"kernel": ["linear"], "C": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000]}
grid_linear = GridSearchCV(SVC(), parameters, scoring="accuracy")
grid_linear.fit(x_train, y_train)

print("Best parameters set found on training set:")
print()
print(grid_linear.best_params_)
print()
print("Grid scores on training set:")
print()
means = grid_linear.cv_results_["mean_test_score"]
for mean, params in zip(means, grid_linear.cv_results_["params"]):
    print("%0.3f for %r" % (mean, params))
print()
print("Detailed classification report:")
print()
y_true, y_pred = y_val, grid_linear.predict(x_val)
print(classification_report(y_true, y_pred))
print()

In [21]:
"""
Create a kNN classification model and run grid search cross validation:
"""
knn = KNeighborsClassifier()
k_range = list(range(1, 101))
param_grid = dict(n_neighbours = k_range)

grid_knn = GridSearchCV(knn, param_grid, scoring="accuracy")
grid_knn.fit(x_train, y_train)

{'mean_fit_time': array([  3.36621304,   3.87553916,   4.17095823,   4.68387632,
          5.17831106,   5.62833691,   6.17525496,   6.58858275,
          7.02384748,   7.46717105,  47.06666579, 448.75023031]),
 'std_fit_time': array([ 0.02335221,  0.06764895,  0.07833372,  0.05143723,  0.08184089,
         0.08326887,  0.17468898,  0.06433343,  0.19355548,  0.12309754,
         1.12483355, 14.99092375]),
 'mean_score_time': array([0.41025872, 0.38185964, 0.37258377, 0.37512455, 0.37593818,
        0.37423553, 0.37599921, 0.37548413, 0.37477698, 0.37319155,
        0.37553611, 0.38304968]),
 'std_score_time': array([0.00164353, 0.01316649, 0.00441212, 0.0018215 , 0.00213897,
        0.00141379, 0.00415229, 0.0018288 , 0.00350459, 0.00419224,
        0.00100778, 0.0069102 ]),
 'param_C': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'linear'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 2, 'kernel': 'linear'},
  {'C': 3, 'kernel': 'linear'},
  {'C': 4, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 6, 'kernel': 'linear'},
  {'C': 7, 'kernel': 'linear'},
  {'C': 8, 'kernel': 'linear'},
  {'C': 9, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 100, 'kernel': 'linear'},
  {'C': 1000, 'kernel': 'linear'}],
 'split0_test_score': array([0.55303933, 0.55065554, 0.55184744, 0.55125149, 0.55244338,
        0.55363528, 0.55244338, 0.55363528, 0.55423123, 0.55244338,
        0.55423123, 0.55303933]),
 'split1_test_score': array([0.54680978, 0.54919499, 0.54859869, 0.54859869, 0.54859869,
        0.54919499, 0.54859869, 0.54859869, 0.54919499, 0.54859869,
        0.54919499, 0.54979129]),
 'split2_test_score': array([0.53726893, 0.53607633, 0.53607633, 0.53607633, 0.53607633,
        0.53548002, 0.53667263, 0.53607633, 0.53667263, 0.53548002,
        0.53607633, 0.53786524]),
 'split3_test_score': array([0.53190221, 0.53428742, 0.53488372, 0.53488372, 0.53488372,
        0.53488372, 0.53548002, 0.53488372, 0.53369112, 0.53369112,
        0.53548002, 0.53548002]),
 'split4_test_score': array([0.56410256, 0.56112105, 0.55873584, 0.55992844, 0.56112105,
        0.56171735, 0.56350626, 0.56290996, 0.56171735, 0.56171735,
        0.56350626, 0.56171735]),
 'mean_test_score': array([0.54662456, 0.54626707, 0.5460284 , 0.54614773, 0.54662463,
        0.54698227, 0.5473402 , 0.54722079, 0.54710146, 0.54638611,
        0.54769777, 0.54757865]),
 'std_test_score': array([0.01140999, 0.00995827, 0.00922165, 0.00948973, 0.00997012,
        0.0104399 , 0.01042524, 0.01063576, 0.01055877, 0.01055214,
        0.0107626 , 0.00975033]),
 'rank_test_score': array([ 8, 10, 12, 11,  7,  6,  3,  4,  5,  9,  1,  2], dtype=int32)}

In [8]:
"""
Check the performance for the model:
"""
knn_prediction = knn.predict(test_x)
print("TESTED KNN MODEL")
knn_accuracy = accuracy_score(test_y, knn_prediction)
print("KNN MODEL ACCURACY: " + str(knn_accuracy))

TESTED KNN MODEL
KNN MODEL ACCURACY: 0.5341946765105887

In [9]:
"""
Create a decision tree classification model:
"""
tree = DecisionTreeClassifier()
print("LOADED TREE MODEL")
tree.fit(train_x, train_y)
print("FITTED TREE MODEL")

LOADED TREE MODEL
FITTED TREE MODEL

In [10]:
"""
Check the performance for the model:
"""
tree_prediction = tree.predict(test_x)
print("TESTED TREE MODEL")
tree_accuracy = accuracy_score(test_y, tree_prediction)
print("TREE MODEL ACCURACY: " + str(tree_accuracy))

TESTED TREE MODEL
TREE MODEL ACCURACY: 0.5204002331455216