Copyright (C) 2022 Project Group 127

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

In [3]:
"""
Imports:
"""
import pandas
import sklearn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [5]:
"""
Load the data:
"""
api_data = pandas.read_csv("../../data/API/api_dataset_professional_games.csv", sep=",")

In [6]:
"""
Check data contents training set:
"""
api_data.head()

,match_id,match_result,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,...,radiant_str,radiant_int,radiant_agi,radiant_melee,radiant_ranged,dire_str,dire_int,dire_agi,dire_melee,dire_ranged
0,5792362494,1,0,0,0,0,0,0,0,0,...,1,2,2,1,4,1,3,1,1,4
1,5794821137,-1,0,0,0,-1,1,0,0,0,...,2,2,1,2,3,2,2,1,3,2
2,5790226407,1,0,0,0,0,0,0,0,0,...,1,1,3,2,3,3,1,1,3,2
3,5790375758,1,0,0,0,0,0,0,0,0,...,2,3,0,2,3,2,2,1,3,2
4,5790649968,-1,0,0,0,0,0,0,0,0,...,2,3,0,2,3,4,0,1,4,1

In [7]:
"""
Seperate training and test data into a class variable and feature variable,
also check the feature information:
"""
x = api_data.iloc[:,2:]
y = api_data["match_result"]
x.head()

,1_antimage,2_axe,3_bane,4_bloodseeker,5_crystal_maiden,6_drow_ranger,7_earthshaker,8_juggernaut,9_mirana,11_nevermore,...,radiant_str,radiant_int,radiant_agi,radiant_melee,radiant_ranged,dire_str,dire_int,dire_agi,dire_melee,dire_ranged
0,0,0,0,0,0,0,0,0,0,0,...,1,2,2,1,4,1,3,1,1,4
1,0,0,0,-1,1,0,0,0,0,0,...,2,2,1,2,3,2,2,1,3,2
2,0,0,0,0,0,0,0,0,0,1,...,1,1,3,2,3,3,1,1,3,2
3,0,0,0,0,0,0,0,0,0,0,...,2,3,0,2,3,2,2,1,3,2
4,0,0,0,0,0,0,0,0,0,0,...,2,3,0,2,3,4,0,1,4,1

In [8]:
"""
Also check the class information:
"""
print(y)

0        1
1       -1
2        1
3        1
4       -1
        ..
12381    1
12382   -1
12383   -1
12384   -1
12385    1
Name: match_result, Length: 12386, dtype: int64

In [9]:
"""
Split the data into test, validation and training data:
"""
x_train_temp, x_test, y_train_temp, y_test = train_test_split(x, y, test_size=2000)
x_train, x_val, y_train, y_val = train_test_split(x_train_temp, y_train_temp, test_size=2000)
x_train.info()
x_test.info()
x_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8386 entries, 11807 to 4804
Columns: 133 entries, 1_antimage to dire_ranged
dtypes: int64(133)
memory usage: 8.6 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 11153 to 10782
Columns: 133 entries, 1_antimage to dire_ranged
dtypes: int64(133)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 3263 to 9196
Columns: 133 entries, 1_antimage to dire_ranged
dtypes: int64(133)
memory usage: 2.0 MB

In [7]:
"""
Create a linear classification model and run grid search cross validation:
"""
param_grid = {"kernel": ["linear"], "C": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000]}
grid_linear = GridSearchCV(SVC(), param_grid, scoring="accuracy")
grid_linear.fit(x_train, y_train)

print("Best parameters set found on training set:")
print()
print(grid_linear.best_params_)
print()
print("Grid scores on training set:")
print()
means = grid_linear.cv_results_["mean_test_score"]
for mean, params in zip(means, grid_linear.cv_results_["params"]):
    print("%0.3f for %r" % (mean, params))

Best parameters set found on training set:

{'C': 1000, 'kernel': 'linear'}

Grid scores on training set:

0.541 for {'C': 1, 'kernel': 'linear'}
0.542 for {'C': 2, 'kernel': 'linear'}
0.542 for {'C': 3, 'kernel': 'linear'}
0.542 for {'C': 4, 'kernel': 'linear'}
0.543 for {'C': 5, 'kernel': 'linear'}
0.543 for {'C': 6, 'kernel': 'linear'}
0.542 for {'C': 7, 'kernel': 'linear'}
0.543 for {'C': 8, 'kernel': 'linear'}
0.543 for {'C': 9, 'kernel': 'linear'}
0.542 for {'C': 10, 'kernel': 'linear'}
0.543 for {'C': 100, 'kernel': 'linear'}
0.543 for {'C': 1000, 'kernel': 'linear'}

In [8]:
print("Detailed classification report:")
print()
y_true, y_pred = y_val, grid_linear.predict(x_val)
print(classification_report(y_true, y_pred))
print()

Detailed classification report:

              precision    recall  f1-score   support

          -1       0.53      0.39      0.45       941
           1       0.56      0.70      0.62      1059

    accuracy                           0.55      2000
   macro avg       0.55      0.54      0.53      2000
weighted avg       0.55      0.55      0.54      2000

In [9]:
"""
Create a kNN classification model and run grid search cross validation:
"""
knn = KNeighborsClassifier()
k_range = list(range(1, 101))
param_grid = dict(n_neighbors = k_range)

grid_knn = GridSearchCV(knn, param_grid, scoring="accuracy")
grid_knn.fit(x_train, y_train)

print("Best parameters set found on training set:")
print()
print(grid_knn.best_params_)
print()
print("Grid scores on training set:")
print()
means = grid_knn.cv_results_["mean_test_score"]
for mean, params in zip(means, grid_knn.cv_results_["params"]):
    print("%0.3f for %r" % (mean, params))

Best parameters set found on training set:

{'n_neighbors': 53}

Grid scores on training set:

0.499 for {'n_neighbors': 1}
0.488 for {'n_neighbors': 2}
0.504 for {'n_neighbors': 3}
0.499 for {'n_neighbors': 4}
0.505 for {'n_neighbors': 5}
0.496 for {'n_neighbors': 6}
0.501 for {'n_neighbors': 7}
0.498 for {'n_neighbors': 8}
0.507 for {'n_neighbors': 9}
0.498 for {'n_neighbors': 10}
0.506 for {'n_neighbors': 11}
0.501 for {'n_neighbors': 12}
0.511 for {'n_neighbors': 13}
0.507 for {'n_neighbors': 14}
0.515 for {'n_neighbors': 15}
0.505 for {'n_neighbors': 16}
0.507 for {'n_neighbors': 17}
0.505 for {'n_neighbors': 18}
0.506 for {'n_neighbors': 19}
0.502 for {'n_neighbors': 20}
0.506 for {'n_neighbors': 21}
0.501 for {'n_neighbors': 22}
0.502 for {'n_neighbors': 23}
0.499 for {'n_neighbors': 24}
0.503 for {'n_neighbors': 25}
0.501 for {'n_neighbors': 26}
0.508 for {'n_neighbors': 27}
0.503 for {'n_neighbors': 28}
0.507 for {'n_neighbors': 29}
0.504 for {'n_neighbors': 30}
0.507 for {'n_neighbors': 31}
0.505 for {'n_neighbors': 32}
0.508 for {'n_neighbors': 33}
0.504 for {'n_neighbors': 34}
0.511 for {'n_neighbors': 35}
0.504 for {'n_neighbors': 36}
0.512 for {'n_neighbors': 37}
0.510 for {'n_neighbors': 38}
0.517 for {'n_neighbors': 39}
0.515 for {'n_neighbors': 40}
0.515 for {'n_neighbors': 41}
0.513 for {'n_neighbors': 42}
0.512 for {'n_neighbors': 43}
0.512 for {'n_neighbors': 44}
0.517 for {'n_neighbors': 45}
0.514 for {'n_neighbors': 46}
0.513 for {'n_neighbors': 47}
0.512 for {'n_neighbors': 48}
0.514 for {'n_neighbors': 49}
0.514 for {'n_neighbors': 50}
0.514 for {'n_neighbors': 51}
0.514 for {'n_neighbors': 52}
0.521 for {'n_neighbors': 53}
0.511 for {'n_neighbors': 54}
0.516 for {'n_neighbors': 55}
0.511 for {'n_neighbors': 56}
0.513 for {'n_neighbors': 57}
0.510 for {'n_neighbors': 58}
0.512 for {'n_neighbors': 59}
0.516 for {'n_neighbors': 60}
0.513 for {'n_neighbors': 61}
0.512 for {'n_neighbors': 62}
0.514 for {'n_neighbors': 63}
0.513 for {'n_neighbors': 64}
0.513 for {'n_neighbors': 65}
0.511 for {'n_neighbors': 66}
0.513 for {'n_neighbors': 67}
0.516 for {'n_neighbors': 68}
0.513 for {'n_neighbors': 69}
0.513 for {'n_neighbors': 70}
0.512 for {'n_neighbors': 71}
0.509 for {'n_neighbors': 72}
0.513 for {'n_neighbors': 73}
0.510 for {'n_neighbors': 74}
0.513 for {'n_neighbors': 75}
0.514 for {'n_neighbors': 76}
0.514 for {'n_neighbors': 77}
0.516 for {'n_neighbors': 78}
0.517 for {'n_neighbors': 79}
0.513 for {'n_neighbors': 80}
0.513 for {'n_neighbors': 81}
0.512 for {'n_neighbors': 82}
0.516 for {'n_neighbors': 83}
0.512 for {'n_neighbors': 84}
0.514 for {'n_neighbors': 85}
0.513 for {'n_neighbors': 86}
0.516 for {'n_neighbors': 87}
0.514 for {'n_neighbors': 88}
0.516 for {'n_neighbors': 89}
0.515 for {'n_neighbors': 90}
0.518 for {'n_neighbors': 91}
0.515 for {'n_neighbors': 92}
0.515 for {'n_neighbors': 93}
0.513 for {'n_neighbors': 94}
0.516 for {'n_neighbors': 95}
0.515 for {'n_neighbors': 96}
0.513 for {'n_neighbors': 97}
0.511 for {'n_neighbors': 98}
0.511 for {'n_neighbors': 99}
0.512 for {'n_neighbors': 100}

In [10]:
print("Detailed classification report:")
print()
y_true, y_pred = y_val, grid_knn.predict(x_val)
print(classification_report(y_true, y_pred))
print()

Detailed classification report:

              precision    recall  f1-score   support

          -1       0.49      0.37      0.42       941
           1       0.54      0.66      0.59      1059

    accuracy                           0.52      2000
   macro avg       0.51      0.51      0.51      2000
weighted avg       0.52      0.52      0.51      2000

In [10]:
"""
Create a decision tree classification model and run grid search cross validation:
"""
decision_tree = DecisionTreeClassifier()
param_grid = {"criterion": ["gini", "entropy"], "splitter": ["best", "random"]}

grid_decision_tree = GridSearchCV(decision_tree, param_grid, scoring="accuracy")
grid_decision_tree.fit(x_train, y_train)

print("Best parameters set found on training set:")
print()
print(grid_decision_tree.best_params_)
print()
print("Grid scores on training set:")
print()
means = grid_decision_tree.cv_results_["mean_test_score"]
for mean, params in zip(means, grid_decision_tree.cv_results_["params"]):
    print("%0.3f for %r" % (mean, params))

Best parameters set found on training set:

{'criterion': 'gini', 'splitter': 'random'}

Grid scores on training set:

0.499 for {'criterion': 'gini', 'splitter': 'best'}
0.514 for {'criterion': 'gini', 'splitter': 'random'}
0.504 for {'criterion': 'entropy', 'splitter': 'best'}
0.512 for {'criterion': 'entropy', 'splitter': 'random'}

In [11]:
print("Detailed classification report:")
print()
y_true, y_pred = y_val, grid_decision_tree.predict(x_val)
print(classification_report(y_true, y_pred))
print()

Detailed classification report:

              precision    recall  f1-score   support

          -1       0.49      0.51      0.50       934
           1       0.55      0.53      0.54      1066

    accuracy                           0.52      2000
   macro avg       0.52      0.52      0.52      2000
weighted avg       0.52      0.52      0.52      2000